# ============================
# Node
# ============================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ============================
# Logs
# ============================
logs/
*.log
*.log.*
debug.log
error.log

# ============================
# Environment Variables
# ============================
.env
.env.*          # e.g.*
